

body {
    margin: 0;
    padding: 0;
}


#logo {
    top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}


.search {

    width: 100%;
    position: relative

}

.searchTerm {

    float: left;
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
    height: 20px;
    border-radius: 15px;
    outline: none;
    color: grey;
    box-shadow: 1px 1px 3px 1px #999
}

.searchTerm:focus{

    color: grey;

}

.searchBtn {

    position: relative;
    left: 40%;
    top: 25px;
    width: 110px;
    height: 36px;
    border: 1px solid lightgrey;
    background: lightgrey;
    text-align: center;
    text-color: grey;
    color: grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


.booglesearch{

    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: lightgrey;
    color: grey;

}

a {

margin: auto;

}

